body {
	margin:0px;
    background: #111 !important;
    position: relative;
	padding-bottom: 90px;
	min-height: 100vh;
    color: #fff;
    line-height: 1.6;
    padding-bottom: 0;
    font-family: 'Spartan', sans-serif;
}

.barra {
    background: linear-gradient(270deg, rgb(171, 102, 255) 0%, rgb(20, 241, 149) 101.39%);
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    margin-left: 30px;
    margin-top: 12px;
    float: left;
}
.info {
    margin-top: 220px;
    margin-bottom: 220px;
}
.info h1{
	text-align: center;
	font-size: 65px;
    margin: 10px;
}
.info h2:hover{
    transition: color .8s ease-out;
    color: rgb(20, 241, 149);
}

.info h2{
	text-align: center;
	font-size: 15px;
}
.info h1:hover{
    transition: color .8s ease-out;
    color: rgb(171, 102, 255);
}

/* home */
.logo2{
    position: absolute;
    margin: 12px 830px 120px 850px;
    width: 200px;
    height: 200px;
}
.logo2 input{
    position: absolute;
    width: 200px;
    height: 200px;
}
.logo2 ul{
    padding: 0;
}
.logo2 input {
    width: 200px;
    height: 200px;
}

.info2 {
    margin: 260px 0 30px 0;
}
.info2 h1{
	text-align: center;
	font-size: 65px;
    margin: 10px;
}
.info2 h2:hover{
    transition: color .8s ease-out;
    color: rgb(20, 241, 149);
}

.info2 h2{
	text-align: center;
	font-size: 15px;
}
.info2 h1:hover{
    transition: color .8s ease-out;
    color: rgb(171, 102, 255);
}
.sesion {
    margin: 5px 830px 50px 850px;
}
.sesion input {
    border-radius: 8px;
}
.fb-login-button {
    margin: 10px 850px 10px 830px;
    padding-bottom: 0;
} 


/* videos */
.videos {
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}
.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
}


.btn {
    width: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.btn2 {
    width: 100px;
    margin-left: 48%;
    transform: translateX(-50%);
}
.boton {
    background: linear-gradient(270deg, rgb(171, 102, 255) 0%, rgb(20, 241, 149) 101.39%);
    border-radius: 11%;
    width: 100px;
    height: 40px; 
} 
    
.boton:hover{
    transition: color .8s ease-out;
    background: linear-gradient(270deg, rgb(20, 241, 149) 0%,  rgb(171, 102, 255)101.39%);
} 

.boton a{
    text-decoration: none;
    color: #000;
    text-align: center;
}

p {
    text-align: center;
    margin: 3px 330px;
}
.li2 {
    text-align: center;
    margin: 3px 420px;
}

.fa-bitcoin:hover {
    color: #FF9500;
}


/* valores */ 
#analisis {
    margin: 20px 390px;
}


/* CONTACT INFO */
.contact-info {
    background: #111;
    transition: all .5s;
    opacity: .8;
    backdrop-filter: blur(10px);
    margin-top: 50px;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact-info ul{
    padding: 0;
    margin-bottom: 0;
}
.copy {
    display: inline-block;
    padding: 10px 10px;
}
.copy a{
    text-decoration: none;
}

.copy a:hover{
    color: #FF9500;
}

.copy i {
    font-size: 30px;
}
.copy i:hover {
    transition: color .3s ease-out;
    color: #fff;
}


.checkbtn{
    font-size: 45px;
    float: right;
    line-height: 80px;
    margin-left: 1690px;
    margin-top: 7px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.checkbtn{
    display: block;
}


.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00132c;
    top: 125px;
    left: -120%;
    text-align: center;
    transition: all .5s;
    opacity: .8;
    backdrop-filter: blur(10px);
    padding: 0;
}
.nav ul{
    margin-right: 20px;
    display: inline-block;
}
.nav ul li{
    line-height: 60px;
    margin: 0 5px;
}
.nav ul li a{
    color: #fff;
    font-size: 22px;
    padding: 0;
    border-radius: 3px;
    text-decoration: none;
}
.nav li a.active, li a:hover{
    color: #ccc;
    transition: .5s;
}
#check:checked ~ ul{
    left:0;
}

.yt {
    margin: 2% 40%;
    transform: translateX(-50%);
}
.yt2 {
    width: 820px;
    height: 386px; 
}





@media screen and (max-width: 800px){

    
    .logo{
        margin: 20px 10px;
    }
    .info {
        margin: 15px 0;
        padding-top: 80px;
        padding-bottom: 65px;
    }
    .info h1 {
        font-size: 40px;
    }
    .info h2 {
        font-size: 15px;
    }
    /* home */
    .logo2 {
        margin: 20px 150px 12px 150px;
    }
    .logo2 input {
        width: 100px;
        height: 100px;
        
    }

    .info2 {
        margin: 80px 80px 10px 80px;
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .info2 h1 {
        font-size: 70px;
        margin-left: -95px;
        margin-bottom: 0;
    }
    .info2 h2 {
        font-size: 15px;
        margin-left: -55px;
    }

    .sesion {
        margin: 5px 80px;
    }
    .sesion input {
        border-radius: 8px;
    }
    .fb-login-button {
        margin: 100px 80px 25px 75px;
    } 

    /* end */
    .copy {
        font-size: 13px;
        padding: 10px 14px;
    }
    .copy i {
        font-size: 29px;
    }
    .checkbtn {
    margin-left: 200px;
    }
    p {
        margin: 3px 12px;
        font-size: 15px;
    }
    .li2 {
        margin: 3px 12px;
        font-size: 15px;
    }
    #analisis {
        margin: 5px 15px;
    }
    .yt {
        margin: 8px 50px 8px 45px;
        transform: none;
    }
    .yt2 {
        width: 310px;
        height: 160px; 
    }
    .trading {
        width:300px;
    }
    .menu__li {
        height: 70px;
    }
    .nav ul li a{ 
        font-size: 18px;
    }
    .contact-info{
        margin: 30px 30px 0 30px;
        z-index:99;
        bottom:0px;
    }
    
    .btn {
        margin-left: 48%;
    }
    

}